*.DS_Store

symlinks/.alfred/Alfred.alfredpreferences/preferences/local/

symlinks/.android/avd/*.avd/*.img
symlinks/.android/avd/*.avd/*.lock
symlinks/.android/cache
symlinks/.android/adbkey

symlinks/.atom/.apm
symlinks/.atom/.node-gyp
symlinks/.atom/blob-store
symlinks/.atom/compile-cache
symlinks/.atom/dev
symlinks/.atom/packages
symlinks/.atom/storage

symlinks/.aws/credentials

symlinks/.bashrc.secrets

licenses.txt

Gemfile.lock
