"*":
  "activate-power-mode":
    autoToggle: false
    playAudio:
      enabled: true
      volume: 0.05
    plugins:
      playAudio: true
      screenShake: true
  core:
    customFileTypes:
      "source.css.less": [
        "overrides"
        "variables"
      ]
      "source.js.jsx": [
        "js"
      ]
    disabledPackages: [
      "markdown-preview"
    ]
    packagesWithKeymapsDisabled: [
      "rails-rspec"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "behave-theme"
    ]
  editor:
    invisibles: {}
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "7d314521-3b6a-7f88-7007-238765ca1a12"
  "fold-functions": {}
  "fuzzy-finder":
    scoringSystem: "fast"
    useRipGrep: true
  "git-blame":
    columnWidth: 331
  hyperclick:
    darwinTriggerKeys: "altKey,metaKey"
  linter:
    disabledProviders: [
      "RuboCop"
    ]
    lintOnChangeInterval: 1000
    lintOnOpen: false
  "linter-ui-default":
    panelHeight: 81
  "markdown-preview-plus":
    syntaxThemeName: "one-dark-syntax"
  "markdown-preview-plus-opener":
    closePreviewWhenClosingEditor: true
  metrics:
    userId: "2c69c6a11ce23ba27f7014861bd582439a757965"
  "package-sync": {}
  "prettier-atom":
    formatOnSaveOptions:
      showInStatusBar: true
    prettierOptions:
      printWidth: 100
      singleQuote: true
      trailingComma: "all"
    useEslint: true
  "release-notes":
    viewedVersion: "0.73.0"
  rspec:
    command: "zeus rspec --only-failures --fail-fast"
    split: "down"
  "rubocop-auto-correct":
    autoRun: true
    correctFile: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
