"*":
  core:
    customFileTypes:
      "source.css.less": [
        "overrides"
        "variables"
      ]
      "source.js.jsx": [
        "js"
      ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "behave-theme"
    ]
  editor:
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "7d314521-3b6a-7f88-7007-238765ca1a12"
  "fold-functions": {}
  linter: {}
  "linter-ui-default":
    panelHeight: 43
    showPanel: true
  "markdown-preview-plus-opener":
    closePreviewWhenClosingEditor: true
  metrics:
    userId: "2c69c6a11ce23ba27f7014861bd582439a757965"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "prettier-atom":
    formatOnSaveOptions: {}
    useEslint: true
  "release-notes":
    viewedVersion: "0.73.0"
  "tree-view": {}
  welcome:
    showOnStartup: false
