packages: [
  "atom-monokai"
  "behave-theme"
  "change-case"
  "docblockr"
  "file-icons"
  "git-blame"
  "jump-to"
  "language-javascript-jsx"
  "linter"
  "linter-eslint"
  "markdown-preview-plus"
  "markdown-preview-plus-opener"
  "monokai"
  "open-recent"
  "package-sync"
  "react"
  "set-syntax"
  "sort-lines"
  "Sublime-Style-Column-Selection"
]
