packages: [
  "atom-html-preview"
  "atom-monokai"
  "atom-typescript"
  "behave-theme"
  "busy-signal"
  "change-case"
  "docblockr"
  "file-icons"
  "fold-functions"
  "git-blame"
  "intentions"
  "jump-to"
  "language-diff"
  "language-gradle"
  "language-groovy"
  "language-haml"
  "linter"
  "linter-eslint"
  "linter-javac"
  "linter-rubocop"
  "linter-ui-default"
  "markdown-preview-plus"
  "markdown-preview-plus-opener"
  "monokai"
  "open-recent"
  "package-sync"
  "prettier-atom"
  "pretty-json"
  "react"
  "set-syntax"
  "sort-lines"
  "Sublime-Style-Column-Selection"
  "yard"
]
